/* Built-in classes */
.scroll-pane {
    -fx-hbar-policy: as-needed;
    -fx-vbar-policy: as-needed;
    -fx-pannable: true;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.list-view {
    -fx-pref-height: 750px;
}

/* Custom classes */
.overlay {
    -fx-alignment: center;
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.overlay .prompt {
    -fx-background-color: rgba(16, 16, 16, 0.75);
}

.prompt, .top-prompt, .left-prompt, .right-prompt, .bottom-prompt {
    -fx-alignment: center;
    -fx-background-color: rgba(16, 16, 16, 0.5);
    -fx-border-color: white;
    -fx-border-radius: 15px;
    -fx-padding: 60px;
}

.top-prompt {
    -fx-padding: 0px;
}

.left-prompt {
    -fx-alignment: top-left;
}

.right-prompt {
    -fx-alignment: top-right;
}

.right-prompt .label {
    -fx-text-alignment: right;
}

.center-pane {
    -fx-alignment: top-center;
    -fx-hgap: 100px;
    -fx-vgap: 100px;
}

.top-content {
    -fx-alignment: top-left;
    -fx-padding: 60px;
}

.back-button-box {
    -fx-alignment: center-left;
}