.root {
    -fx-alignment: center;
    -fx-background-color: #99E550;
    -fx-background-image: url("textures/mainMenuBackground.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-font-size: 72px;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI Variable";
    -fx-background-color: #323232;
}

.button:hover {
    -fx-background-color: #003f8b;
}

.label {
    -fx-text-fill: white;
}

.header {
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-font-family: "Rockwell Nova Extra Bold";
    -fx-font-size: 144px;
}

.text-field {
    -fx-background-color: #191919;
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-prompt-text-fill: lightgray;
    -fx-font-size: 36px;
}