.root {
    -fx-alignment: center;
    -fx-background-color: #99E550;
    -fx-background-image: url("textures/mainMenuBackground.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-font-size: 72px;
    -fx-font-weight: bold;
}

.button {
    -fx-text-fill: white;
    -fx-background-color: #AFAFAF;
    -fx-border-color: #696969;
    -fx-border-width: 5px;
}

.button:hover {
    -fx-background-color: #878787;
}

.label {
    -fx-text-fill: white;
    -fx-wrap-text: true;
}

.text {
    -fx-stroke: black;
    -fx-stroke-width: 3px;
}

.header {
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-font-family: "Rockwell Nova Extra Bold";
    -fx-font-size: 144px;
}

.header.label .text {
    -fx-stroke-width: 5px;
}

.text-field {
    -fx-background-color: #191919;
    -fx-text-fill: white;
    -fx-prompt-text-fill: lightgray;
    -fx-font-size: 72px;
    -fx-font-weight: none;
}

.text-field .text {
    -fx-stroke-width: 0px;
}